body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans Unicode';
    font-size: medium
}
h2 {
    color: rgb(92, 159, 97);
}
h3 {
    color: rgb(181, 106, 26);
}
#textomarco {
    border:3px solid rgb(212, 207, 207);
    padding:12px;
}